@font-face {
  font-family: "BebasNeue";
  src: url("/fonts/BebasNeue-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
  font-family: "JosefinSans";
  src: url("/fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Cabin";
  src: url("/fonts/Cabin-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Boldonse";
  src: url("/fonts/Boldonse-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lexend";
  src: url("/fonts/Lexend-VariableFont_wght.ttf") format("truetype");
}

:root {
  --primary-color: #e8eae5;
  --identity-color: #035a52;
  --grey-color: #e7e7e7;
  --black-color: #1c2f36;
  --red-color: #ee2c00;

  --product-cart-width: 200px;
  --product-cart-height: 330px;

  font-size: 13px;
}

* {
  box-sizing: border-box;
  font-family: Cabin, Roboto, JosefinSans, Arial, Helvetica, sans-serif;
  scrollbar-width: thin;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: var(--identity-color);
}

a:hover {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}

button:hover {
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-color: var(--black-color);
  color: white;
}

body {
  min-height: 100vh;
  margin: 0;
  background-clip: padding-box;
  background-position: center;
  position: relative;
  background-color: var(--primary-color);
  color: rgb(0, 0, 0);
  width: 100%;
  overflow-x: hidden;
}

header {
  color: black;
  font-size: 4rem;
  font-weight: 600;
  padding: 20px 90px 10px 90px;
  text-align: center;
  box-shadow:
    rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  background-color: #fcfaee;
}

@media (max-width: 500px) {
  :root {
    font-size: 10px;
  }
}
